.four{
    @include wideImgDiv();
    .content-block{
        width: 35%;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(110%, -50%);
    }
    button{
        @include squareButton($purple);
        @include buttonHover(transparent, $purple, $purple);
        padding: 4% 5%;
    }  
}