@mixin squareButton($background-color){
    border: 3px solid $background-color;
    background-color: $background-color;
    color: $white;
    font-weight: bold;
    padding: 1.5% 2.5%;
    text-transform: uppercase;
    margin: 15px;
    font-size: 1.3rem;

}

@mixin buttonHover($background-color, $text-color, $border-color) {
    &:hover{
        background-color: $background-color;
        color: $text-color;
        border: 3px solid $border-color;
    }
}

@mixin twoColumnGrid($justify-self){
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    width: 100%;
    .left{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: center;
        align-self: center;
        padding-left: 25%;
        padding-right: 15%;
    }
    .right{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: $justify-self;
    }
}

@mixin wideImgDiv() {
    width: 100%;
    position: relative;
    img{
        width: 100%;
    }
}

@mixin slDetails() {
    sl-details::part(summary){
      font-family: $Lato;
      color: $purple;
      font-weight: bold
    }

   sl-details::part(base){
      border: none;
      width: 50%;
    }

   sl-details::part(summary-icon){
      color: $purple;
    }

    sl-details::part(content){
        font-family: $Lato;
    }
}

@mixin fadeIn() {
    .fade-in{
        opacity: 0;
        transition: opacity 750ms ease-in ;
    }

    .fade-in.appear{
        opacity: 1;
    }
}

@mixin slideIn() {
    .left{
        transform: translateX(-50%);
        transition: 
           opacity 250ms ease-in, 
           transform 400ms ease-in;
        opacity: 0;
     }
  
     .right{
        transform: translateX(50%);
        transition: 
           opacity 250ms ease-in, 
           transform 400ms ease-in;
        opacity: 0;
     }
  
     .left.appear, .right.appear{
        transform: translateX(0);
        opacity: 1;
     }
}

