//Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

$Lato: "Lato";
$light: 300px;
$normal: 400px;
$heavy: 900px;

// Colors
$purple: #800080;
$backgroundAccent: #f8f8f9;
$orange: #ff8c00;
$grey: #3d3d3d;
$white: #ffffff;

//Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-desktop: 769px