@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");
body {
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-family: "Lato";
  font-weight: 400px;
  font-size: 5rem;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-family: "Lato";
  font-weight: 400px;
  font-size: 3rem;
  color: #800080;
  text-transform: uppercase;
}

h3 {
  font-family: "Lato";
  font-weight: 400px;
  font-size: 3rem;
  color: #3d3d3d;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: "Lato";
  font-weight: 400px;
  font-size: 1.5rem;
  color: #800080;
  text-align: center;
}

p {
  font-family: "Lato";
  font-weight: 300px;
  color: #3d3d3d;
  font-size: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  font-family: "Lato";
  font-weight: 400px;
  color: #3d3d3d;
  font-size: 1rem;
}

header .fade-in {
  opacity: 0;
  -webkit-transition: opacity 750ms ease-in;
  transition: opacity 750ms ease-in;
}

header .fade-in.appear {
  opacity: 1;
}

header img:first-of-type {
  position: relative;
  width: 100%;
  height: 100%;
}

header svg {
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
}

header h1 {
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header button {
  border: 3px solid #800080;
  background-color: #800080;
  color: #ffffff;
  font-weight: bold;
  padding: 1.5% 2.5%;
  text-transform: uppercase;
  margin: 15px;
  font-size: 1.3rem;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header button:hover {
  background-color: transparent;
  color: #ffffff;
  border: 3px solid #ffffff;
}

header img:last-of-type {
  position: absolute;
  top: 5%;
  left: 13%;
  max-width: 20%;
}

.one {
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 100%;
}

.one .left {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 25%;
  padding-right: 15%;
}

.one .right {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column-align: end;
      justify-self: end;
}

.one sl-details::part(summary) {
  font-family: "Lato";
  color: #800080;
  font-weight: bold;
}

.one sl-details::part(base) {
  border: none;
  width: 50%;
}

.one sl-details::part(summary-icon) {
  color: #800080;
}

.one sl-details::part(content) {
  font-family: "Lato";
}

.one .left {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: opacity 250ms ease-in,  -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in,  -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in,  transform 400ms ease-in;
  transition: opacity 250ms ease-in,  transform 400ms ease-in,  -webkit-transform 400ms ease-in;
  opacity: 0;
}

.one .right {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: opacity 250ms ease-in,  -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in,  -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in,  transform 400ms ease-in;
  transition: opacity 250ms ease-in,  transform 400ms ease-in,  -webkit-transform 400ms ease-in;
  opacity: 0;
}

.one .left.appear, .one .right.appear {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.one .right img {
  height: 475px;
  -o-object-fit: cover;
     object-fit: cover;
}

.two {
  width: 100%;
  position: relative;
}

.two img {
  width: 100%;
}

.two .fade-in {
  opacity: 0;
  -webkit-transition: opacity 750ms ease-in;
  transition: opacity 750ms ease-in;
}

.two .fade-in.appear {
  opacity: 1;
}

.two .content-block {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-90%, -50%);
          transform: translate(-90%, -50%);
}

.two button {
  border: 3px solid #ff8c00;
  background-color: #ff8c00;
  color: #ffffff;
  font-weight: bold;
  padding: 1.5% 2.5%;
  text-transform: uppercase;
  margin: 15px;
  font-size: 1.3rem;
  padding: 4% 5%;
}

.two button:hover {
  background-color: transparent;
  color: #ff8c00;
  border: 3px solid #ff8c00;
}

.three {
  width: 100%;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 100%;
}

.three .left {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 25%;
  padding-right: 15%;
}

.three .right {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
      justify-self: center;
}

.three sl-details::part(summary) {
  font-family: "Lato";
  color: #800080;
  font-weight: bold;
}

.three sl-details::part(base) {
  border: none;
  width: 50%;
}

.three sl-details::part(summary-icon) {
  color: #800080;
}

.three sl-details::part(content) {
  font-family: "Lato";
}

.three .left {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: opacity 250ms ease-in,  -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in,  -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in,  transform 400ms ease-in;
  transition: opacity 250ms ease-in,  transform 400ms ease-in,  -webkit-transform 400ms ease-in;
  opacity: 0;
}

.three .right {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: opacity 250ms ease-in,  -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in,  -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in,  transform 400ms ease-in;
  transition: opacity 250ms ease-in,  transform 400ms ease-in,  -webkit-transform 400ms ease-in;
  opacity: 0;
}

.three .left.appear, .three .right.appear {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.three .right {
  background-color: #f8f8f9;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.three .right .icon {
  margin-left: 3%;
  padding: 8%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 16%;
      flex-basis: 16%;
}

.three .right .icon p {
  text-align: left;
  margin-top: 5%;
  padding-left: 3%;
  text-transform: uppercase;
}

.three .right .icon .border {
  border: 2px solid #800080;
  border-radius: 90px;
  padding: 20px;
  position: relative;
  -webkit-transition-property: border-radius;
  transition-property: border-radius;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}

.three .right .icon .border:hover {
  border-radius: 20px;
}

.three .right .icon .border img {
  width: 100px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.four {
  width: 100%;
  position: relative;
}

.four img {
  width: 100%;
}

.four .fade-in {
  opacity: 0;
  -webkit-transition: opacity 750ms ease-in;
  transition: opacity 750ms ease-in;
}

.four .fade-in.appear {
  opacity: 1;
}

.four .content-block {
  width: 35%;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(110%, -50%);
          transform: translate(110%, -50%);
}

.four button {
  border: 3px solid #800080;
  background-color: #800080;
  color: #ffffff;
  font-weight: bold;
  padding: 1.5% 2.5%;
  text-transform: uppercase;
  margin: 15px;
  font-size: 1.3rem;
  padding: 4% 5%;
}

.four button:hover {
  background-color: transparent;
  color: #800080;
  border: 3px solid #800080;
}

.five {
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 100%;
  width: 100%;
  height: 100%;
  margin: 10% 0;
}

.five .left {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 25%;
  padding-right: 15%;
}

.five .right {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
      justify-self: center;
}

.five .left {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: opacity 250ms ease-in,  -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in,  -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in,  transform 400ms ease-in;
  transition: opacity 250ms ease-in,  transform 400ms ease-in,  -webkit-transform 400ms ease-in;
  opacity: 0;
}

.five .right {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: opacity 250ms ease-in,  -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in,  -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in,  transform 400ms ease-in;
  transition: opacity 250ms ease-in,  transform 400ms ease-in,  -webkit-transform 400ms ease-in;
  opacity: 0;
}

.five .left.appear, .five .right.appear {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.five #stars {
  margin-top: 5%;
}

.five #stars .fa-star {
  color: #ff8c00;
  font-size: 1.3rem;
  margin: 1%;
}

footer {
  background-color: #f8f8f9;
}

footer div {
  padding: 2%;
}

footer div p {
  color: #3d3d3d;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

footer div div {
  margin-left: 41%;
}

footer div div img {
  width: 65px;
  padding: 0 1.5% 0 1.5%;
}

.carousel {
  position: relative;
  height: 200px;
  width: 500px;
  margin: auto auto;
}

.carousel .carousel-track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel .carousel-track {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.carousel .carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel .carousel-button--left {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  border: 0;
  left: -50px;
  cursor: pointer;
}

.carousel .carousel-button--right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  border: 0;
  right: -50px;
  cursor: pointer;
}

.carousel .fa-chevron-left, .carousel .fa-chevron-right {
  font-size: 1.5rem;
  color: #800080;
}

.carousel .carousel-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

.carousel .carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #3d3d3d;
  margin: 0 5px;
  cursor: pointer;
}

.carousel .hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */